doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="get LGTM images from lgtm.in")
    meta(property="og:title" content="LGTM-HUB")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://lgtm-hub.do7be.com/")
    meta(property="og:image" content="http://i.imgur.com/4gU76Y6.jpg")
    title= title
    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src="/js/jquery-1.11.2.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/index.bundle.js")
    script(src="/js/clipboard.min.js")

  body
    section(class="window")
      section(class="container")
        section(class="contents")
          div(id="tweet_button")
            a(href="https://twitter.com/share" class="twitter-share-button" data-lang="ja").
              Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          div(class="clear_both")
          div(class="text-center")
            h1(class="title")= title
            p Copy your clipboard in the form of markdown.
              span(id="explain") ![LGTM](http://***)
          section(id="reload_area" class="text-center" data-toggle="tooltip" data-placement="bottom" title="Reloading...")
            button(id="reload_button" class="btn btn-primary btn-large" data-action="reload").
              Reload
          section(id="img_area")
          section(id="recommend_img_area")
          section(id="lgtm_site_text")
            p get images by <a href="http://www.lgtm.in/">http://www.lgtm.in/</a>
