doctype html
html
  head
    if production
      <!-- Global site tag (gtag.js) - Google Analytics -->
      script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-115334065-1")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-115334065-1');

    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="get LGTM images from lgtm.in")
    meta(property="og:title" content="LGTM-HUB")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://lgtm-hub.do7be.com/")
    meta(property="og:image" content="http://i.imgur.com/4gU76Y6.jpg")
    title LGTM-HUB
    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src="/socket.io/socket.io.js")
    script(src="/js/lib/clipboard.min.js")

  body
    div#app

    script(src="#{jsPath.vendor}")
    script(src="#{jsPath.index}")
