html, body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2ca9e1;
}

a {
  color: #00B7FF;
}

.tweet_button {
  float: right;
  margin-top: 10px;
}

.twitter-share-button {
  height: 20px;
  padding: 1px 10px 1px 10px;
  background-color: #1b95e0;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s background-color;
}

.twitter-share-button:hover {
  background-color:  #37a6eb;
  text-decoration: none;
  color: #fff;
}

.clear_both {
  clear: both;
}

.window {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  position: relative;
  width: 980px;
  height: 100%;
  background-color: #2ca9e1;
}

.contents {
  height: 805px;
  padding-left: 9px;
  padding-right: 9px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  background-color: #FFFFFF;
}

.title {
  letter-spacing: 5px;
}
.history {
  letter-spacing: 2px;
}

.reload_area {
  margin-bottom: 10px;
}

.reload_button {
  width: 200px;
}

.explain {
  font-weight: bold;
  margin-left: 10px;
}

.img_area {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.img_area div.text-center, .img_box{
  float: left;
  width: 313px;
  height: 310px;
}

img.lgtm_img {
  width: 313px;
  max-height: 300px;
}

.img_area {
  height: 370px;
}

.lgtm_img_copy {
  width: 100px;
}

.recommend_img_area {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.recommend_img_area div.text-center, .recommend_img_box {
  float: left;
  width: 94px;
  height: 104px;
}

.recommend_img_area img {
  clear: both;
  width: 94px;
  max-height: 94px;
}
.recommend_img_area button {
  clear: both;
}

.recommend_img_box_area:first-of-type {
  padding-left: 10px;
}

.lgtm_site_text {
  float: right;
}
