body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#img_area {
  margin-top: 30px;
}

#img_area>div, .img_box{
  float: left;
  width: 313px;
  height: 330px;
}

img.lgtm_img {
  width: 313px;
  max-height: 300px;
}