html, body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2ca9e1;
}

a {
  color: #00B7FF;
}

#tweet_button {
  float: right;
  margin-top: 10px;
}

.clear_both {
  clear: both;
}

.window {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  position: relative;
  width: 980px;
  height: 100%;
  background-color: #2ca9e1;
}

.contents {
  height: 805px;
  padding-left: 9px;
  padding-right: 9px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  background-color: #FFFFFF;
}

#reload_area {
  margin-bottom: 10px;
}

#reload_button {
  width: 200px;
}

#img_area {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

#img_area div.text-center, .img_box{
  float: left;
  width: 313px;
  height: 310px;
}

img.lgtm_img {
  width: 313px;
  max-height: 300px;
}

#img_area {
  height: 370px;
}

.lgtm_img_copy {
  width: 100px;
}

#recommend_img_area {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#recommend_img_area div.text-center, .recommend_img_box {
  float: left;
  width: 94px;
  height: 104px;
}

#recommend_img_area img {
  clear: both;
  width: 94px;
  max-height: 94px;
}
#recommend_img_area button {
  clear: both;
}

.recommend_img_box_area:first-of-type {
  padding-left: 10px;
}

#lgtm_site_text {
  float: right;
}


/*
  Case Zero Clip Board
*/

/* btn-warning */

.btn-warning.zeroclipboard-is-hover,
.btn-warning.zeroclipboard-is-focus,
.btn-warning.zeroclipboard-is-active {
  color: #fff;
  background-color: #f89406;
}

.btn-warning.zeroclipboard-is-hover,
.btn-warning.zeroclipboard-is-focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}

.btn-warning.zeroclipboard-is-focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-warning.zeroclipboard-is-active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}

/* btn-success */

.btn-success.zeroclipboard-is-hover,
.btn-success.zeroclipboard-is-focus,
.btn-success.zeroclipboard-is-active {
  color: #fff;
  background-color: #51a351;
}

.btn-success.zeroclipboard-is-hover,
.btn-success.zeroclipboard-is-focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}

.btn-success.zeroclipboard-is-focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-success.zeroclipboard-is-active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}