.contributors {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.contributor {
  display: flex;
  align-items: center;
  margin: 0 12px;
  text-decoration: none;
}

.icon {
  flex: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #e6e6e6;
  background-size: cover;
  background-repeat: no-repeat;
}

.do7be {
  background-image: url('./do7be.png');
}

.yksk {
  background-image: url('./yksk.png');
}

.text {
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #bfbfbf;
}

.account {
  margin-top: 2px;
  color: #808080;
}
