.historyContainer {
  padding: 48px;
  background-color: #fafafa;
}

.label {
  text-align: center;
  margin: 0 0 36px;
  line-height: 1;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.gridContainer {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  width: 912px;
  min-height: 128px;
}

.item {
  margin: 12px;
}
