.imgArea {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  height: 370px;
}

.textCenter {
  float: left;
  width: 313px;
  height: 310px;
}
