.container {
  width: 420px;
  text-align: center;
}

.reloadButton {
  padding: 0;
  border: none;
  outline: 0;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #8000ff;
  cursor: pointer;
}
